In [1]:
# import pandas as pd
from malbecs.preprocess import wine as wine_pr
from malbecs.feateng import wine as wine_fe

In [2]:
raw_wine_path = "../../data/raw/UH_2023_TRAIN.txt"
pro_wine_path = "../../data/processed/wine_pro.csv" 
final_wine_path = "../../data/final/wine_final.csv" 

wine_data = wine_pr.load_wine_dataset(raw_wine_path)

In [3]:
wine_data = wine_pr.preproces_wine_data(wine_data,output_path=pro_wine_path)

In [4]:
wine_data = wine_fe.feateng_wine_data(wine_data,output_path=final_wine_path)

In [5]:
wine_data.head()

,campaña,id_finca,id_zona,id_estacion,altitud,variedad,modo,tipo,color,superficie,...,prod_he_var_mean_hist,prod_he_var_std_hist,prod_var_shift_1,prod_var_shift_2,prod_he_zone_mean,prod_he_zone_std,prod_he_var_mean,prod_he_var_std,prod_finca_shift_1,prod_finca_shift_2
0,14,76953,515,4,660.0,26,2,0,1,2.638768,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,0.0,-1.0,-1.0
1,14,84318,515,4,660.0,26,2,0,1,2.638768,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,0.0,-1.0,-1.0
2,14,89440,506,7,610.0,26,2,0,1,4.500000,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0
3,14,85548,803,5,635.0,26,2,0,1,3.631800,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0
4,14,85548,803,5,635.0,32,2,0,1,2.296667,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,0.0,-1.0,-1.0

# ETO

In [6]:
from malbecs.preprocess import eto as eto_pr
from malbecs.feateng import eto as eto_fe

raw_eto_path = '../../data/raw/DATOS_ETO.TXT'
pro_eto_path = "../../data/processed/eto_pro.csv" 
final_eto_path = "../../data/final/eto_final.csv" 

eto_raw = eto_pr.load_eto_dataset(raw_eto_path)

In [7]:
avg_cols = [
    'DewpointLocalDayAvg',
    'EvapotranspirationLocalDayAvg',
    'FeelsLikeLocalDayAvg',
    'GlobalHorizontalIrradianceLocalDayAvg',
    'GustLocalDayAvg',
    'MSLPLocalDayAvg',
    'PrecipAmountLocalDayAvg',
    'RelativeHumidityLocalDayAvg',
    'SnowAmountLocalDayAvg',
    'TemperatureLocalDayAvg',
    'UVIndexLocalDayAvg',
    'VisibilityLocalDayAvg',
    'WindSpeedLocalDayAvg'
]

max_cols = [
    'DewpointLocalDayMax',
    'EvapotranspirationLocalDayMax',
    'FeelsLikeLocalDayMax',
    'GlobalHorizontalIrradianceLocalDayMax',
    'GustLocalDayMax',
    'MSLPLocalDayMax',
    'PrecipAmountLocalDayMax',
    'RelativeHumidityLocalDayMax',
    'SnowAmountLocalDayMax',
    'TemperatureLocalDayMax',
    'UVIndexLocalDayMax',
    'VisibilityLocalDayMax',
    'WindSpeedLocalDayMax',
]

min_cols = [
    'DewpointLocalDayMin',
    # 'EvapotranspirationLocalDayMin',
    'FeelsLikeLocalDayMin',
    # 'GlobalHorizontalIrradianceLocalDayMin',
    'GustLocalDayMin',
    'MSLPLocalDayMin',
    # 'PrecipAmountLocalDayMin',
    'RelativeHumidityLocalDayMin',
    # 'SnowAmountLocalDayMin',
    'TemperatureLocalDayMin',
    # 'UVIndexLocalDayMin',
    'VisibilityLocalDayMin',
    'WindSpeedLocalDayMin'
]

cols_sum = [
        'PrecipAmountLocalDayAvg',
        'SnowAmountLocalDayAvg'
]

cols_mean = avg_cols + max_cols +  min_cols + ['TemperatureLocalAfternoonAvg','TemperatureLocalOvernightAvg']

In [8]:
eto_data = eto_pr.load_eto_dataset(raw_eto_path)

In [9]:
eto_data = eto_pr.preprocess_eto_dataset(eto_data, cols_mean, cols_sum, output_path=pro_eto_path)

In [10]:
eto_data = eto_fe.feateng_eto(eto_data, output_path=final_eto_path)

In [11]:
eto_data.head()

,year,ID_ESTACION,MeanDewpointLocalDayAvgMonth1,MeanDewpointLocalDayAvgMonth2,MeanDewpointLocalDayAvgMonth3,MeanDewpointLocalDayAvgMonth4,MeanDewpointLocalDayAvgMonth5,MeanDewpointLocalDayAvgMonth6,MeanEvapotranspirationLocalDayAvgMonth1,MeanEvapotranspirationLocalDayAvgMonth2,...,SumTotalSnowAmountLocalDayMonth2,SumTotalSnowAmountLocalDayMonth3,SumTotalSnowAmountLocalDayMonth4,SumTotalSnowAmountLocalDayMonth5,SumTotalSnowAmountLocalDayMonth6,MeanPrecip,TotalPrecip,StdlPrecip,MeanSnow,TotalSnow
0,2015,0,275.096774,276.535186,277.728111,280.242857,282.626728,286.00,0.074194,0.087500,...,0.006857,0.0,0.000000,0.0,0.0,53.942857,323.657143,41.492609,0.006286,0.037714
1,2015,1,273.847926,275.029029,276.101382,278.576190,280.695853,284.00,0.070968,0.089286,...,0.017143,0.0,0.003429,0.0,0.0,47.942857,287.657143,35.502798,0.017714,0.106286
2,2015,2,275.140553,276.457248,277.585253,280.025714,282.208756,286.05,0.074194,0.091071,...,0.000000,0.0,0.000000,0.0,0.0,39.200000,235.200000,33.765888,0.002286,0.013714
3,2015,3,274.677419,276.021288,277.110599,279.614286,281.935484,285.50,0.072581,0.085714,...,0.003429,0.0,0.000000,0.0,0.0,44.800000,268.800000,34.165962,0.014286,0.085714
4,2015,4,274.435945,275.701970,276.833641,279.248095,281.421659,284.90,0.075806,0.089286,...,0.000000,0.0,0.000000,0.0,0.0,42.400000,254.400000,33.983122,0.006857,0.041143

# Meteo

In [12]:
from malbecs.preprocess import meteo as meteo_pr


raw_meteo_path = "../../data/raw/DATOS_METEO.TXT"
# pro_meteo_path = "../../data/processed/wine_pro.csv" 
final_meteo_path = "../../data/final/meteo_final.csv" 

meteo_data = meteo_pr.load_meteo_data(raw_meteo_path)

In [13]:
meteo_data = meteo_pr.preproces_meteo_data(meteo_data, final_meteo_path)

In [14]:
meteo_data.head()

,ID_ESTACION,year,temp_avg_daytime_month_1,temp_avg_daytime_month_2,temp_avg_daytime_month_3,temp_avg_daytime_month_4,temp_avg_daytime_month_5,temp_avg_daytime_month_6,temp_max_daytime_month_1,temp_max_daytime_month_2,...,temp_min_nighttime_month_3,temp_min_nighttime_month_4,temp_min_nighttime_month_5,temp_min_nighttime_month_6,MeanLightHours_month_1,MeanLightHours_month_2,MeanLightHours_month_3,MeanLightHours_month_4,MeanLightHours_month_5,MeanLightHours_month_6
0,0,2015,12.424240,14.480920,15.021966,16.980976,22.924359,35.020000,19.345714,20.417143,...,6.54,8.767857,14.442857,35.02,6.258065,7.126144,8.755760,9.785714,10.903226,6.500000
1,0,2016,14.490323,14.286437,15.430376,18.159000,22.291290,28.708000,19.620000,20.460000,...,5.20,9.775000,14.560000,22.24,6.064516,7.000000,8.580645,9.600000,10.709677,11.633333
2,0,2017,10.352903,13.347143,17.371774,18.573833,23.530833,29.396833,16.460000,16.940000,...,7.42,7.760000,16.760000,21.46,6.129032,7.142857,8.774194,9.866667,10.870968,11.866667
3,0,2018,13.270968,10.545714,14.302581,17.328667,21.391613,26.746000,20.980000,18.460000,...,8.06,7.440000,15.500000,18.48,6.322581,7.142857,8.870968,9.800000,10.903226,11.833333
4,0,2019,12.526452,14.977143,17.103226,16.106000,21.907097,27.212667,17.020000,21.820000,...,9.20,9.780000,15.460000,18.98,6.451613,7.142857,8.967742,9.766667,10.935484,11.700000

# Train

In [15]:
# data prep

import pandas as pd

def load_final_data(wine_path, eto_path=None, meteo_path=None):
    wine_data = pd.read_csv(wine_path)
    if eto_path:
        eto_data = pd.read_csv(eto_path)
        eto_data['year'] = eto_data['year']%2000
        wine_data = wine_data.merge(
            eto_data,
            left_on=['id_estacion','campaña'],
            right_on=['ID_ESTACION','year'],
            how='left',
        )
    if meteo_path:
        meteo_data = pd.read_csv(meteo_path)
        meteo_data['year'] = meteo_data['year']%2000
        wine_data = wine_data.merge(
            meteo_data,
            left_on=['id_estacion','campaña'],
            right_on=['ID_ESTACION','year'],
            how='left'
        )
    return wine_data


def filter_camp(data, min_camp, max_camp):
    return data[(data['campaña']>=min_camp) & (data['campaña']<=max_camp)]

def train_test_split(data, test_camp=21):
    return data[data['campaña']!=test_camp],data[data['campaña']==test_camp]


def xy_split(data):
    return data.drop(columns=['produccion']), data['produccion']

data = load_final_data(
    wine_path=final_wine_path,
    eto_path=final_eto_path,
    meteo_path=final_meteo_path
)

data_train = filter_camp(data, min_camp=16, max_camp=21)
data_final = filter_camp(data, min_camp=22, max_camp=22)

train, test = train_test_split(data_train, test_camp=21)

X_train, y_train = xy_split(train)
X_test, y_test = xy_split(test)
X_final, y_final = xy_split(data_final)

In [ ]:
# model

In [ ]:
# grid search

In [ ]:
# evaluation

In [ ]:
# final prediction

In [ ]:
# final pred analysis