In [1]:
from malbecs.preprocess import wine

In [2]:
path = '../../data/raw/UH_2023_TRAIN.txt'

wine_data = wine.load_wine_dataset(path)

In [3]:
wine_data = wine.norm_columns(wine_data)

wine_data.columns

Index(['campana', 'id_finca', 'id_zona', 'id_estacion', 'altitud', 'variedad',
       'modo', 'tipo', 'color', 'superficie', 'produccion'],
      dtype='object')

In [4]:
wine_data = wine.process_altitud(wine_data)

wine_data.head()

,campana,id_finca,id_zona,id_estacion,altitud,variedad,modo,tipo,color,superficie,produccion
0,14,76953,515,4,660.0,26,2,0,1,0.0,22215.0
1,14,84318,515,4,660.0,26,2,0,1,0.0,22215.0
2,14,85579,340,4,520.0,32,2,0,1,0.0,20978.0
3,14,69671,340,4,520.0,32,2,0,1,0.0,40722.0
4,14,14001,852,14,0.0,81,1,0,1,0.0,14126.0

In [5]:
wine_data = wine.replace_zeros_with_na(wine_data, cols=['superficie','altitud'])

wine_data.isnull().sum()

campana           0
id_finca          0
id_zona           0
id_estacion       0
altitud          54
variedad          0
modo              0
tipo              0
color             0
superficie     6518
produccion     1075
dtype: int64

In [6]:
wine_data = wine.fillna_by_group(
    wine_data, cols=['superficie'], 
    group=['id_finca','variedad','modo']
    )

wine_data = wine.fillna_by_group(
    wine_data, 
    cols = ['altitud'], 
    group = ['id_estacion'])

wine_data.isnull().sum()

campana           0
id_finca          0
id_zona           0
id_estacion       0
altitud           0
variedad          0
modo              0
tipo              0
color             0
superficie     1806
produccion     1075
dtype: int64

In [7]:
wine_data = wine.get_sup_tot_camp_finca(wine_data)
wine_data = wine.get_sup_tot_finca(wine_data)
wine_data = wine.get_n_var_finca_camp(wine_data)

In [8]:
wine_data = wine.replace_zeros_with_na(
    wine_data, 
    cols=['sup_tot_camp_finca','superficie_total']
)

In [9]:
wine_data.isnull().sum()

campana                  0
id_finca                 0
id_zona                  0
id_estacion              0
altitud                  0
variedad                 0
modo                     0
tipo                     0
color                    0
superficie            1806
produccion            1075
sup_tot_camp_finca    1414
superficie_total       949
n_var_camp_finca         0
dtype: int64

In [10]:
wine_data = wine.fillna_by_value(
    wine_data, 
    cols=['superficie','sup_tot_camp_finca','superficie_total'],
    value=-1
)

In [11]:
wine_data.to_csv('../../data/processed/wine_pro.csv', index=False)

In [13]:
# wine.preproces_wine_data(path)