In [1]:
import pandas as pd
import numpy as np

# Features Faloperas

- shifts de produccion por finca, variedad, modo
- shifts de produccion por finca y variedad
- shifts de produccion por finca
- shift de produccion promedio y std por hectarea por variedad y modo

In [24]:
path = '../../data/processed/wine_pro.csv'

wine_data = pd.read_csv(path)

In [25]:
# features
# prod/he de cada variedad

wine_data.head()

,campana,id_finca,id_zona,id_estacion,altitud,variedad,modo,tipo,color,superficie,produccion,sup_tot_camp_finca,superficie_total,n_var_camp_finca
0,14,76953,515,4,660.000000,26,2,0,1,-1.0,22215.0,-1.0,-1.0,1
1,14,84318,515,4,660.000000,26,2,0,1,-1.0,22215.0,-1.0,-1.0,1
2,14,85579,340,4,520.000000,32,2,0,1,-1.0,20978.0,-1.0,-1.0,1
3,14,69671,340,4,520.000000,32,2,0,1,-1.0,40722.0,-1.0,-1.0,1
4,14,14001,852,14,659.097938,81,1,0,1,-1.0,14126.0,-1.0,-1.0,1

In [35]:
# shifts

wine_data['prod_shift_1'] = wine_data.groupby(['id_finca','variedad','modo'])['produccion'].shift(1).fillna(-1)
wine_data['prod_shift_2'] = wine_data.groupby(['id_finca','variedad','modo'])['produccion'].shift(2).fillna(-1)


prod_by_finca_var = wine_data.groupby(['campana','id_finca','variedad'])['produccion'].sum().reset_index()
prod_by_finca_var['prod_var_shift_1'] = prod_by_finca_var.groupby(['id_finca','variedad'])['produccion'].shift(1).fillna(-1)
prod_by_finca_var['prod_var_shift_2'] = prod_by_finca_var.groupby(['id_finca','variedad'])['produccion'].shift(2).fillna(-1)


prod_by_finca = wine_data.groupby(['campana','id_finca'])['produccion'].sum().reset_index()
prod_by_finca['prod_finca_shift_1'] = prod_by_finca.groupby(['id_finca'])['produccion'].shift(1).fillna(-1)
prod_by_finca['prod_finca_shift_2'] = prod_by_finca.groupby(['id_finca'])['produccion'].shift(2).fillna(-1)

In [38]:
wine_data = wine_data.merge(
    prod_by_finca_var[['campana','id_finca','variedad','prod_var_shift_1','prod_var_shift_2']],
    left_on=['campana','id_finca','variedad'],
    right_on=['campana','id_finca','variedad'],
).merge(
    prod_by_finca[['campana','id_finca','prod_finca_shift_1','prod_finca_shift_2']],
    left_on=['campana','id_finca'],
    right_on=['campana','id_finca'],    
)

In [39]:
wine_data[wine_data['id_finca']==58769]

,campana,id_finca,id_zona,id_estacion,altitud,variedad,modo,tipo,color,superficie,produccion,sup_tot_camp_finca,superficie_total,n_var_camp_finca,prod_shift_1,prod_shift_2,prod_var_shift_1,prod_var_shift_2,prod_finca_shift_1,prod_finca_shift_2
1145,14,58769,239,6,700.0,32,2,0,1,4.25,42350.0,4.25,7.003333,1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2261,15,58769,239,6,700.0,32,2,0,1,4.25,30380.0,4.25,7.003333,1,42350.0,-1.0,42350.0,-1.0,42350.0,-1.0
3339,16,58769,239,6,700.0,32,2,0,1,4.25,41940.0,4.25,7.003333,1,30380.0,42350.0,30380.0,42350.0,30380.0,42350.0
4356,17,58769,239,6,700.0,32,2,0,1,4.25,33600.0,8.38,7.003333,2,41940.0,30380.0,41940.0,30380.0,41940.0,30380.0
4357,17,58769,239,6,700.0,59,2,0,1,4.13,35940.0,8.38,7.003333,2,-1.0,-1.0,-1.0,-1.0,41940.0,30380.0
5417,18,58769,239,6,700.0,32,2,0,1,4.25,54900.0,8.38,7.003333,2,33600.0,41940.0,33600.0,41940.0,69540.0,41940.0
5418,18,58769,239,6,700.0,59,2,0,1,4.13,34800.0,8.38,7.003333,2,35940.0,-1.0,35940.0,-1.0,69540.0,41940.0
6472,19,58769,239,6,700.0,32,2,0,1,4.25,30840.0,8.38,7.003333,2,54900.0,33600.0,54900.0,33600.0,89700.0,69540.0
6473,19,58769,239,6,700.0,59,2,0,1,4.13,24090.0,8.38,7.003333,2,34800.0,35940.0,34800.0,35940.0,89700.0,69540.0
7478,20,58769,239,6,700.0,32,2,0,1,4.25,38480.0,8.41,7.003333,2,30840.0,54900.0,30840.0,54900.0,54930.0,89700.0
7479,20,58769,239,6,700.0,59,2,0,1,4.16,39380.0,8.41,7.003333,2,24090.0,34800.0,24090.0,34800.0,54930.0,89700.0
8522,21,58769,239,6,700.0,32,2,0,1,4.25,41310.0,8.41,7.003333,2,38480.0,30840.0,38480.0,30840.0,77860.0,54930.0
8523,21,58769,239,6,700.0,59,2,0,1,4.16,45420.0,8.41,7.003333,2,39380.0,24090.0,39380.0,24090.0,77860.0,54930.0
9597,22,58769,239,6,700.0,32,2,0,1,4.25,NaN,8.32,7.003333,2,41310.0,38480.0,41310.0,38480.0,86730.0,77860.0
9598,22,58769,239,6,700.0,59,2,0,1,4.07,NaN,8.32,7.003333,2,45420.0,39380.0,45420.0,39380.0,86730.0,77860.0

In [79]:
prod_he_var = (
    wine_data
    [['campana','variedad','modo','superficie','produccion']]
    .assign(prod_he_var_modo = lambda df: df['produccion']/df['superficie'])
    .query('prod_he_var_modo>0')
    [['campana','variedad','modo','prod_he_var_modo']]
    .groupby(["campana",'variedad','modo'])
    .agg(
        prod_he_var_modo_mean=('prod_he_var_modo', 'mean'), 
        prod_he_var_modo_std=('prod_he_var_modo', 'std')
    )
    .fillna(0).reset_index()
)

In [81]:
prod_he_var = pd.concat([
    prod_he_var[['campana', 'variedad', 'modo']],
    (
    prod_he_var.groupby(['variedad','modo'])
    [['prod_he_var_modo_mean','prod_he_var_modo_std']]
    .shift(1).fillna(-1)
    .rename(columns={
        'prod_he_var_modo_mean':"prod_he_var_modo_mean_shift_1",
        'prod_he_var_modo_std':"prod_he_var_modo_std_shift_1"
    })
)],axis=1)

In [83]:
# mean_prod_he_var
wine_data = wine_data.merge(
    prod_he_var[['campana','variedad','modo','prod_he_var_modo_mean_shift_1','prod_he_var_modo_std_shift_1']],
    left_on=['campana','variedad','modo'],
    right_on=['campana','variedad','modo'],
)

In [85]:
wine_data.to_csv('../../data/final/wine_final.csv',index=False)